PORT = your_port_here

MONGODB_URI=your_mongodb_uri_here

CLOUDINARY_API_KEY = your_cloudinary_api_key_here

CLOUDINARY_SECRET_KEY = your_cloudinary_secret_key_here

CLOUDINARY_NAME = your_cloudinary_name_here

JWT_SECRET = your_jwt_secret_here

ADMIN_EMAIL = your_admin_email_here

ADMIN_PASSWORD = your_admin_password_here

STRIPE_SECRET_KEY = your_stripe_secret_key_here

RAZORPAY_SECRET_KEY = your_razorpay_secret_key_here

RAZORPAY_KEY_ID = your_razorpay_key_id_here